<% if @user.admin? %>
  <%= form_for(@attraction) do |f| %>
    <label>Name:</label>
    <%= f.text_field :name %>
    <label>Min height:</label>
    <%= f.text_field :min_height %>
    <label>Happiness rating:</label>
    <%= f.text_field :happiness_rating %>
    <label>Nausea rating:</label>
    <%= f.text_field :nausea_rating %>
    <label>Tickets:</label>
    <%= f.text_field :tickets %>

    <%= f.submit "Create Attraction" %>
  <% end %>
<% end %>